body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 430px;
  padding: 15px;
}

.form-floating {
  margin: 10px 10px;
}

.form-floating input {
  border-radius: 25px;
}
